# Database Configuration (Optional: overrides config/database.php)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=u315909654_portfolio
DB_USER=u315909654_aibyharshport
DB_PASS=Hpp_200311

# Cloudinary CDN Configuration
CLOUDINARY_CLOUD_NAME=la4ig9t3
CLOUDINARY_API_KEY=427994134557492
CLOUDINARY_API_SECRET=_3vxKU6--GfaMPJqs-zuc9gB9lY
CLOUDINARY_URL=cloudinary://427994134557492:_3vxKU6--GfaMPJqs-zuc9gB9lY@la4ig9t3
